<div class="w-full p-2 flex justify-between items-center bg-white shadow-lg sticky top-0 z-20">
    <a href="{% url 'home' %}">
        <h1 class="text-orange-500 text-xl font-bold capitalize" >p-connect</h1>
    </a>
    

    <div class="w-1/2">
        <input type="text" name="" placeholder="search" id="" class="w-full py-2 px-4 rounded-lg bg-gray-100">
    </div>  

        
        {% if request.user.is_authenticated %}
        
        <a href="{% url 'logout' %}">
            <button class="py-1 px-2 text-sm rounded-lg bg-orange-600 hover:bg-orange-700 text-white hover:font-bold duration-700 capitalize">Logout</button>
        </a>

        {% else %}

        <a href="{% url 'login' %}">
        
            <button class="py-1 px-2 text-sm rounded-lg bg-orange-600 hover:bg-orange-700 text-white hover:font-bold duration-700 capitalize">login</button>
        </a>

        {% endif %}
            
       
    
</div>