{% extends 'components/base.html' %}



{% block title %}


{% block home_title %}

{% endblock home_title %}

{% endblock title %}



{% block content %}


{% include 'components/navbar.html' %}
<div class="flex justify-center h-full w-full">
    <div class="w-5/6 h-full flex" id="sidebar">
    
        {% include 'components/sidebar.html' %}

        <div class="w-5/6">
            {% block home_content %}

            {% endblock home_content %}

        </div>

    </div>
</div>




{% endblock content %}