{% extends 'components/home/base.html' %}
{% load static %}



{% block home_title %}

Home

{% endblock %}

{% block home_content %}

<div class="w-full h-full p-4 bg-gray-200 flex flex-col gap-2">

    <div class="relative h-64 w-full">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% for group in groups %}

                <div class="swiper-slide relative">
                    <a href="{% url 'group_show' group.id %}">
                        <img src="{{group.image.url}}" alt="">
                    </a>
                    
                    <div class="absolute z-10 bottom-0 backdrop-blur-sm bg-gray-600/30 w-full p-2 text-white">
                        <h1 class="font-bold text-xl">{{ group.name }}</h1>
                        <p class="text-sm">{{ group.description }}</p>
                        <p class="text-xs">p/{{group.name}}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    {% if request.user.is_authenticated %}

    <div class="flex flex-col gap-2 w-full bg-gray-50 rounded-lg p-5" x-data="{toggle: false}">
        <div class="flex items-center justify-end">
            <div class="flex items-center gap-2">
                <a href="{% url 'group_index' %}" class="btn btn-secondary btn-xs">
                    <span>Groups</span>
                </a>
                <button @click="toggle = !toggle"
                    class="btn btn-xs bg-orange-500 hover:bg-orange-600 border-none text-white">
                    <span>Add Group</span>
                </button>
            </div>
        </div>
        <form action="{% url 'add_group' %}" method="post" class="w-full flex flex-col gap-2" x-show="toggle"
            enctype="multipart/form-data">
            {% csrf_token %}
            {{groupForm}}
            <button type="submit" class="btn btn-xs bg-orange-500 border-none text-white">
                Add Group
            </button>
        </form>
    </div>

    {% endif %}



    <div class="w-full flex gap-2">
        <div class="w-5/6 h-full flex flex-col gap-2">




            {% for post in posts %}

            <div class="w-full p-2 rounded-lg bg-gray-50">

                <div class="flex items-center py-2 justify-between">
                    <a href="{% url 'thread_show' post.id %}">
                        <h1 class="flex items-center text-gray-500 p-2 gap-2">
                            <img src="https://robohash.org/{{post.user.username}}"
                                class="object rounded-full h-10 w-10 object-center border-2"> <span
                                class="text-sm">p/{{post.group.name}} ({{post.user.username}}) -
                                {{post.created_at|timesince}} </span>
                        </h1>
                    </a>
                    <div class="flex gap-2 item-center">


                        {% if not post.user.group.id == request.user.group.id%}
                        <button class="p-2 rounded-lg text-xs bg-orange-500 text-white">join</button>
                        {% endif %}


                        <span class="relative p-2" x-data="{toggle :false}">
                            <i class="fi fi-rr-menu-dots" @click="toggle = !toggle"></i>

                            <div class="flex flex-col gap-2 absolute z-10 -bottom-20 -right-22 bg-white shadow-sm text-sm rounded-lg"
                                x-show="toggle" x-transition.duration.700 @click.outside="toggle = !toggle">
                                <a href="#" class="flex items-center gap-2 p-2">
                                    <i class="fi fi-rr-social-network"></i>
                                    <h1 class="capitalize">
                                        like
                                    </h1>
                                </a>
                                <a href="#" class="flex gap-2 items-center p-2">

                                    <i class="fi fi-rr-flag-alt"></i>
                                    <h1 class="capitalize">
                                        report
                                    </h1>
                                </a>
                            </div>
                        </span>
                    </div>
                </div>

                <h1 class="text-3xl font-bold gap-2 py-2 truncate">{{post.title}}</h1>
                
                {% if post.image %}
                <img src="{{post.image.url}}" alt=""
                class="object object-center h-auto w-full object-cover">     
                {% endif %}
                    
               
            </div>

            {% endfor %}

        </div>
        <div class="bg-gray-100 rounded-lg h-96 w-72 flex flex-col gap-2 p-4">
            <h1 class="text-lg font-bold gap-2 text-gray-800">Popular P-group</h1>


            {% for group in groups %}
            <a href="{% url 'group_show' group.id %}">
                <div class="rounded-lg hover:bg-gray-300 duration-700 flex items-center gap-2 p-2">
                    <img src="https://robohash.org/{{group.name}}" class="object rounded-full h-10 w-10 object-center">
                    <div>
                        <h1 class="text-sm text-gray-800">p/{{group.name}}</h1>
                        <p class="text-xs">12k p-member</p>
                    </div>
                </div>
            </a>
           

            {% endfor %}

        </div>
    </div>

</div>



{% endblock %}