{% extends 'components/home/base.html' %}


{% block home_title %}
Thread {{ post.title }}
{% endblock home_title %}




{% block home_content %}
<div class="w-full p-4 overflow-y-hidden">
    <div class="w-full p-2 rounded-lg bg-gray-50">

        <div class="flex items-center py-2 justify-between">
            <h1 class="flex items-center text-gray-500 p-2 gap-2">
                <img src="https://robohash.org/{{post.user.username}}"
                    class="object rounded-full h-10 w-10 object-center border-2"> <span class="text-sm">
                    <a href="{% url 'group_show' post.group.id %}">
                        p/{{post.group.name}}
                    </a> ({{post.user.username}})
                    - {{post.created_at|timesince}}</span>
            </h1>
            <div>
                <a href="{% url 'thread_edit' post.id %}" class="btn btn-ghost btn-xs text-accent">Edit</a>
                <a href="{% url 'thread_delete' post.id %}" class="btn btn-ghost btn-xs text-error">Delete</a>
            </div>
        </div>

        <h1 class="text-3xl font-bold gap-2 py-2 truncate">{{post.title}}</h1>


        {% if post.image %}
        <a class="venobox" href="{{post.image.url}}">
            <img src="{{post.image.url}}" alt="" clas="object object-center h-96 w-full">
        </a>

        {% endif %}


        <p class="whitespace-pre-line">
            {{post.content}}
        </p>

        <div class="w-full h-auto flex flex-col gap-2">
            <div class="flex flex-items gap-2">
                <button>Comments</button>
            </div>
            <form action="{% url 'thread_show' post.id %}" method="POST" class="min-h-32 w-full flex items-center">

                {{commentForm.errors}}
                {{commentForm}}

                {{comment.user.errors}}
                {{comment.post.errors}}
                {{comment.reply.errors}}

                {% csrf_token %}

                <button class="btn btn-accent btn-sm">Add</button>
            </form>

            <div class="flex flex-col gap-2">
                {% for comment in post_comments %}
                <div class="flex flex-col gap-2">
                    <div class="w-full items-center gap-2 flex min-h-16 gap-5">
                        <div class="flex flex-col justify-center">
                            <img src="https://robohash.org/{{ comment.user.username }}" alt=""
                                class="h-12 w-12 object object-center rounded-full">
                            <p>{{ comment.user.username }}</p>
                        </div>
                        <div class="flex flex-col gap-2 w-full h-auto" x-data="{toggle: false, editToggle : false}">
                            <p class="h-full bg-gray-100 rounded-lg w-full p-2 flex flex-col gap-2">
                                {{ comment.content }}
                                <span class="text-xs">{{ comment.created_at|timesince }}</span>
                            <div class="flex justify-start">
                                <button class="btn btn-xs btn-ghost text-accent"
                                    @click="() => {toggle = !toggle; editToggle = false}">Reply</button>


                                {% if request.user.id == comment.user.id %}
                                <button class="btn btn-xs btn-ghost text-primary"
                                    @click="() => {editToggle = !editToggle; toggle = false}">Edit</button>
                                <a href="{% url 'comment_delete' comment.id %}"
                                    class="btn btn-xs btn-ghost text-error">Delete</a>
                                {% endif %}


                            </div>
                            </p>
                            <form action="{% url 'comment_edit' comment.id %}" method="post" class="flex items-center"
                                x-show="editToggle">
                                {% csrf_token %}
                                {{ commentForm }}
                                <button class="btn btn-sm btn-accent">save</button>
                            </form>
                            <form action="{% url 'reply_comment' comment.id %}" method="post" class="flex items-center"
                                x-show="toggle">
                                {% csrf_token %}
                                {{ commentForm }}
                                <button class="btn btn-sm btn-accent">Add</button>
                            </form>
                        </div>
                    </div>
                    {% for reply_comment in comment.comment_set.all|dictsortreversed:"created_at" %}
                    <div class="ml-8">
                        <div class="flex flex-col justify-center">
                            <img src="https://robohash.org/{{ reply_comment.user.username }}" alt=""
                                class="h-12 w-12 object object-center rounded-full">
                            <p>{{ reply_comment.user.username }}</p>
                        </div>
                        <div class="flex flex-col gap-2 w-full h-auto" x-data="{toggle: false, editToggle : false}">
                            <p class="h-full bg-gray-100 rounded-lg w-full p-2 flex flex-col gap-2">
                                {{ reply_comment.content }}
                                <span class="text-xs">{{ reply_comment.created_at|timesince }}</span>
                            <div class="flex justify-start">
                                <button class="btn btn-xs btn-ghost text-accent"
                                    @click="() => {toggle = !toggle; editToggle = false}">Reply</button>

                                {% if request.user.id == reply_comment.user.id %}


                                <button class="btn btn-xs btn-ghost text-primary"
                                    @click="() => {editToggle = !editToggle; toggle = false}">Edit</button>

                                <a href="{% url 'comment_delete' reply_comment.id %}"
                                    class="btn btn-xs btn-ghost text-error">Delete</a>
                                {% endif %}
                            </div>
                            </p>
                            <form action="{% url 'reply_comment' comment.id %}" method="post" class="flex items-center"
                                x-show="toggle">
                                {% csrf_token %}
                                {{ commentForm }}
                                <button class="btn btn-sm btn-accent">Add</button>
                            </form>

                            <form action="{% url 'comment_edit' comment.id %}" method="post" class="flex items-center"
                                x-show="editToggle">
                                {% csrf_token %}
                                {{ commentForm }}
                                <button class="btn btn-sm btn-accent">save</button>
                            </form>

                        </div>
                        {% endfor %}
                    </div>

                    {% endfor %}
                </div>
            </div>
            <!-- Display parent comments -->

        </div>
    </div>
    {% endblock home_content %}